<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction20210112083210.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b4219936-de68-4fe4-8393-4bd7d7f7fe99/resourcegroups/learn-4ac029bf-4498-4e40-bcd7-a2653b61d2f3/providers/Microsoft.Web/sites/WatchPortalFunction20210112083210</ResourceId>
    <UserName>$WatchPortalFunction20210112083210</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunction20210112083210.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>