<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsindicadoreseconomicosSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
                contract="IndicadoresEconomicos.wsindicadoreseconomicosSoap"
                name="wsindicadoreseconomicosSoap" />
        </client>
    </system.serviceModel>
</configuration>